body {
    background: #c7b39b url(https://i.pinimg.com/originals/da/bb/3e/dabb3e3f4dbd9ff61b5b42f2359d8979.png); /* Цвет фона и путь к файлу */
    background-size: contain; /* растянуть на весь экран */
    background-attachment: fixed; /* Фиксируем фон веб-страницы */
   }
